<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="c:\temp\internal-nlog.txt">
	
  <extensions>
		<add assembly="NLog.MongoDB.NetCore"/>
		<add assembly="NLog.Appsettings.Standard" />
	</extensions>

	<targets>
		<target xsi:type="Mongo" name="mongo"
     databaseName="${appsettings:name=MongoStoreSettings.DatabaseName}" 
     connectionString="${appsettings:name=MongoStoreSettings.ConnectionString}"  
     collectionName="logs">
			<Field name="LongDate" layout="${longdate}" bsonType="DateTime" />
			<Field name="Level" layout="${level}" />
			<Field name="Logger" layout="${logger}" />
			<Field name="Message" layout="${message}" />
			<Field name="Exception" layout="${exception:format=tostring}" />
			<Field name="CallSite" layout="${callsite:filename=true}" />
			<Field name="StackTrace" layout="${stacktrace}" /> 
		</target>
	</targets> 

	<rules>
		<logger name="*" minlevel="Trace" writeTo="mongo" />
	</rules>
</nlog>
